<DOCTYPE! html>
<html>

	<head>
		<title>Chitter</title>
		<link rel="stylesheet" type="text/css" href="/normalize.css">
		<link rel="stylesheet" type="text/css" href="/stylesheet.css">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>

	<body>

		<header>
				<nav>
					<form method='get' action='/sessions/new'>
						<input type="submit" value="Sign In">
					</form>

					<form method='get' action='/users/new'>
						<input type="submit" value="Sign Up">
					</form>
				</nav>

			<img src="/vintage-blue-jay-bird.png" alt="vintage blue jay bird">

			<h1>Chitter</h1>
				
			<section class="aside">
				<% if current_user %>
					<p class="username"><%= current_user.username %></p>
					<form method='get' action='/sessions/peep'>
						<input type="submit" value="Peep">
					</form>
				<% end %>
				
				
			</section>

			

		</header>

		<% if flash[:errors] && !flash[:errors].empty? %>
			<p>Sorry, there were the following problems with the form.</p>
			<ul id="errors">
				<% flash[:errors].each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		<% end %>

	<%= yield %>
	  
	</body>
</html>