<DOCTYPE! html>
<html>
	<head>
		<title>Chitter</title>
	</head>
	<body>
		<header>
			<form method='get' action='/users/new'>
				<input type="submit" value="Sign Up">
			</form>
		<% if flash[:errors] && !flash[:errors].empty? %>
			Sorry, there were the following problems with the form.
			<ul id="errors">
				<% flash[:errors].each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		<% end %>


		</header>

	<%= yield %>
	</body>
</html>