<section class="user_search">
<p>Please enter the username of the Chitterer you wish to search for:</p>
<form method="post" action='/users/details/'>
	<p>Search for: </p><input type="text" name="search_username">
	<input type="submit" value="Find">
</form>
</section>