<section class="signin">
<p>Please enter your login details:</p>
<form method="post" action='/sessions'>
	<p>Username: </p><input type="text" name="username">
	<p>Password: </p><input type="password" name="password">
	<input type="submit" value="Login">
</form>
</section>